<!-- Filename: bottom_nav.ejs | Author: Juan Arevalo | Date: 22-08-2023 -->
<footer class="foot">
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <p class="navbar-text fs-6 fst-italic mb-5">&copy; 2023 All rights reserved</p>
    </nav>
</footer>
