<!-- Filename: bottom_nav.ejs | Author: Juan Arevalo | Date: 16-09-2024 -->
<footer class="foot d-flex align-items-center text-secondary w-100">
    <nav class="navbar bg-black w-100">
        <div class="container-fluid">
            <div class="row w-100">
                <!-- Left Section: Links -->
                <div class="col-md-4 col-12 text-md-start text-center">
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-secondary text-decoration-none">Home</a></li>
                        <li><a href="/about" class="text-secondary text-decoration-none">About me</a></li>
                        <li><a href="/contact" class="text-secondary text-decoration-none">Contact</a></li>  
                    </ul>
                </div>

                <div class="col-md-4 col-12 text-md-between text-center">
                    <ul class="list-unstyled">
                        <li><a href="/projects" class="text-secondary text-decoration-none">Projects</a></li>
                        <li><a href="/link" class="text-secondary text-decoration-none">Links</a></li>
                    </ul>
                </div>        
                
                <!-- Right Section: Social Media Icons & Language Change -->
                <div class="col-md-4 col-12 text-md-end text-end mt-md-0 mt-2">
                    <!-- Social Media Icons -->
                    <a href="https://www.linkedin.com/in/jbaruz" class="me-2" target="_blank"><i class="fab fa-linkedin text-secondary"></i></a>
                    <a href="https://github.com/jbaruz" class="me-2" target="_blank"><i class="fab fa-github text-secondary"></i></a>
                    <a href="https://twitter.com/Jbaruz11" class="me-2" target="_blank"><i class="fab fa-twitter text-secondary"></i></a>
                    <a href="https://www.instagram.com/jbaruz1" class="me-2" target="_blank"><i class="fab fa-instagram text-secondary"></i></a>


                </div>
            </div>

            <!-- Copyright -->
            <div class="row w-100 mt-2">
                <div class="col-12 text-center">
                    <p class="fs-6 fst-italic mb-0">&copy; 2024 All rights reserved by Jbaruz</p>
                </div>
            </div>
        </div>
    </nav>
</footer>

