<!-- Filename: header.ejs | Author: Juan Arevalo | Date: 21-09-2024 -->
<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Juan Arevalo: AI Developer & Mining Tools Specialist in Toronto">
    <meta name="description" content="Juan Arevalo, an AI developer in Toronto studying at Centennial College with hands-on experience in abrasion tools for the industry's largest mining loader machines.">
    <meta name="google-site-verification" content="qFDrxzTf437MAo4rhygK-L5hKwfq5Z70flF0nk4whss" />
    <!-- css section -->
    <link rel='stylesheet' href='/content/app.css' />
    <link rel='stylesheet' href='/content/photo.css' />  <!--Add to works on photografy.ejs page-->
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
    <link rel="stylesheet" href="/content/starwars.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <!-- Icon -->
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
</head>
<body class="bg-black">
    