<!-- Filename: header.ejs | Author: Juan Arevalo | Date: 27-11-2024 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta Keywords -->
    <meta name="keywords" content="Jbaruz, Juan Bibiano Arevalo Ruiz, Juan Arevalo Ruiz, Juan Arevalo, AI Developer, GET Solutions Specialist, Ground Engaging Tools, Artificial Intelligence, Machine Learning, Wear Specialist, Mining Equipment, Open Pit Mining, Welding, Metallurgical Engineer, Technical Support, Innovation, Efficiency, Canada, Centennial College, Mining Industry, AI Integration, GET Efficiency">

    <!-- Meta Description -->
    <meta name="description" content="Juan Arevalo is a specialist in Ground Engaging Tools (GET) solutions, integrating AI knowledge to enhance efficiency in the mining industry.">

    <!-- Author -->
    <meta name="author" content="Juan Arevalo - Jbaruz">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Juan Arevalo: GET Solutions Specialist Integrating AI for Efficiency">
    <meta property="og:description" content="Specialist in Ground Engaging Tools solutions with AI knowledge to implement efficient and innovative strategies in the mining industry.">
    <meta property="og:image" content="https://yourwebsite.com/assets/images/profile-image.jpg">
    <meta property="og:url" content="https://yourwebsite.com/">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:title" content="Juan Arevalo: GET Solutions Specialist Integrating AI for Efficiency">
    <meta name="twitter:description" content="Enhancing GET solutions with AI insights to improve efficiency in the mining industry.">
    <meta name="twitter:image" content="https://yourwebsite.com/assets/images/profile-image.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Google Site Verification -->
    <meta name="google-site-verification" content="qFDrxzTf437MAo4rhygK-L5hKwfq5Z70flF0nk4whss" />

    <!-- CSS Section -->
    <link rel="stylesheet" href="/content/app.css" />
    <link rel="stylesheet" href="/content/photo.css" />  <!--Add to works on photografy.ejs page-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="/content/starwars.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Favicon -->
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
</head>
<body class="bg-black">
