<%-include('partials/header.ejs')%>
<%-include('partials/main_nav.ejs')%>

<!-- Filename: about.ejs | Author: Juan Arevalo | Date: 11-18-2024 -->
<div class="d-flex justify-content-center">
    <main class="container py-5 bg-black">
        <div class="jumbotron bg-gradient-light text-center">
            <h1 class="display-7 text-light text-opacity-75">About Juan Arevalo</h1>
        </div>

        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm bg-dark text-info">
                    <img src="../assets/images/juan1.jpeg" alt="Juan photo" class="card-img-top w-100">
                    <div class="card-body bg-black">
                        <h5 class="card-text text-center">Juan Arevalo</h5>
                        <p class="text-center">
                            <div class="text-center">
                                🌐 <a href="https://jbaruz.dev">jbaruz.dev</a>
                            </div>
                            <div class="text-center">
                                📧 <a href="mailto:jbaruz@gmail.com">jbaruz@gmail.com</a>
                            </div>
                            <div class="text-center">
                                🔗 <a href="https://www.linkedin.com/in/jbaruz/">LinkedIn</a> - <a href="https://github.com/Jbaruz">GitHub</a>
                            </div>
                            <div class="text-center">
                                📞 (+1) 437-557-6885
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card shadow-sm bg-primary">
                    <div class="card-header text-light text-opacity-50">
                        Who I am?
                    </div>
                    <div class="card-body text-light bg-primary">
                        <p class="roboto mb-3">
                            With a career grounded in metallurgical engineering and a recent leap into Artificial Intelligence, I bring a unique perspective to technical problem-solving. From analyzing wear abrasion to applying AI tools, I’m passionate about crafting innovative solutions that address real-world needs effectively and efficiently.
                        </p>
                        <p class="roboto mb-3">
                            My bilingual fluency in English and Spanish allows me to connect with clients and teams across borders, ensuring seamless collaboration and communication. Having studied at Trujillo National University and Centennial College, I’ve built a foundation that blends technical expertise with a forward-thinking approach.
                        </p>
                        <p class="roboto mb-3">
                            I’m driven by a commitment to excellence and customer success, always ready to embrace the next challenge and deliver solutions that exceed expectations.
                        </p>
                        <div class="text-center mt-4">
                            <a href="../assets/archives/Resume_Juan_Arevalo_2024.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-outline-light">View Resume (PDF)</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <%-include ('partials/bottom_nav.ejs')%>
    </main>
</div>


<%-include ('partials/footer.ejs')%>
