<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>
<!-- Filename: get.ejs | Author: Juan Arevalo | Date: 19-10-2024 -->
<div class="d-flex justify-content-center">
    <main class="container py-5 bg-black">

        <!-- Introduction Section -->
        <div class="jumbotron bg-gradient-light text-center text-light text-opacity-75">
            <h1 class="display-7">Juan Arevalo's GET Projects</h1>
            <p class="lead">Innovations and Solutions in Ground Engaging Tools</p>
        </div>

        <!-- Periodic Implementation Message -->
        <div class="text-center text-light text-opacity-75 mb-4">
            <p>
                <em>Note:</em> I am continuously updating this page by adding at least one project per year. Please check back regularly to see the latest additions!
            </p>
        </div>

        <!-- Year Projects Accordion -->
        <div class="accordion accordion-flush" id="yearProjectsAccordion">

            <!-- 2011 Projects -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2011">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse2011" aria-expanded="false" aria-controls="collapse2011">
                        <h5>2011 Projects</h5>
                    </button>
                </h2>
                <div id="collapse2011" class="accordion-collapse collapse" aria-labelledby="heading2011"
                    data-bs-parent="#yearProjectsAccordion">
                    <div class="accordion-body text-light text-opacity-75">

                        <!-- Project 1 -->
                        <div class="timeline-item mb-4">
                            <h6><strong>Reducing Downtime in Cable Shovels through Six Sigma Collaboration</strong></h6>
                            <p><strong>Situation:</strong> Four cable shovels were experiencing 30 hours of downtime per month due to Ground Engaging Tools (GET) events, negatively impacting mine productivity by 40%.</p>
                            <p><strong>Task:</strong> Collaborate on a Six Sigma project to reduce downtime caused by GET events by 13 hours on Bucyrus 495BII cable shovels.</p>
                            <p><strong>Action:</strong></p>
                            <ul>
                                <li>Analyzed response times involved in each task during unplanned and planned maintenance.</li>
                                <li>Identified the most significant events contributing to downtime using the 80/20 principle.</li>
                                <li>Enhanced installation and removal procedures for GET.</li>
                                <li>Standardized tools and equipment for each crew.</li>
                                <li>Developed information cards detailing GET and necessary tools for each cable shovel.</li>
                                <li>Established satellite warehouses near digging areas stocked with critical GET components.</li>
                                <li>Conducted training on correct methods for installing and removing GET, focusing on efficiency, effectiveness, and safety.</li>
                                <li>Provided general training for the entire operations team on GET issues and detection methods.</li>
                            </ul>
                            <p><strong>Results:</strong></p>
                            <ul>
                                <li>Reduced downtime from 30 hours to 5 hours per month.</li>
                                <li>Increased trust in the service provided, facilitating the introduction of new products.</li>
                                <li>Achieved Six Sigma certification for the service team as collaborators.</li>
                            </ul>
                        </div>

                        <hr class="my-4">

                        <!-- Project 2 -->
                        <div class="timeline-item mb-4">
                            <h6><strong>Enhancing Cable Shovel Productivity through Optimized GET Point Design</strong></h6>
                            <p><strong>Situation:</strong> Premature loss of tip penetration due to impact conditions caused by poor blasting was resulting in decreased shovel productivity. This was evidenced by increased truck loading times for the Caterpillar equipment.</p>
                            <p><strong>Task:</strong> Analyze various Ground Engaging Tools (GET) point designs—at least three different options focusing on shape, weight, and length—according to the specific digging conditions of the area, with the goal of increasing cable shovel productivity.</p>
                            <p><strong>Action:</strong></p>
                            <ul>
                                <li>Collected operator feedback on the performance of the current GET points.</li>
                                <li>Assessed the abrasion levels of the slope based on the lifespan of the current points.</li>
                                <li>Discussed three selected GET point options with the geological and operations teams.</li>
                                <li>Conducted testing of the new proposed points, measuring truck loading times and point lifespans.</li>
                            </ul>
                            <p><strong>Results:</strong></p>
                            <ul>
                                <li>Reduced truck loading time by 17 seconds over four passes when using the new points compared to the current points.</li>
                                <li>Increased cable shovel productivity by 30%.</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>

            <!-- 2010 Projects -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2010">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse2010" aria-expanded="false" aria-controls="collapse2010">
                        <h5>2010 Projects</h5>
                    </button>
                </h2>
                <div id="collapse2010" class="accordion-collapse collapse" aria-labelledby="heading2010"
                    data-bs-parent="#yearProjectsAccordion">
                    <div class="accordion-body text-light text-opacity-75">

                        <!-- Project -->
                        <div class="timeline-item mb-4">
                            <h6><strong>Enhancing Safety and Efficiency in GET Removal with Water Pressure System</strong></h6>
                            <p><strong>Situation:</strong> There was a high risk of accidents caused by metal splinters (3mm particles) detaching from the surface of Ground Engaging Tools (GET) during removal under fine material conditions. This risk was due to the use of hammers on GET to remove fines, despite the tools being designed as hammerless. Additionally, removing and installing GET was difficult and time-consuming because of the fine material, significantly affecting cable shovel productivity. There was also a potential risk of GET falling off during excavation due to improper installation practices, such as inadequate cleaning of fines leading to poor fitting and incorrect torque applied to locking mechanisms.</p>
                            <p><strong>Task:</strong> Develop a safer and more efficient method for GET removal and installation using water pressure, focusing on improving safety and reducing the time required for these processes.</p>
                            <p><strong>Action:</strong></p>
                            <ul>
                                <li>Updated the safety work procedure (PST file) after experimentation and validation by the operations manager.</li>
                                <li>Coordinated the availability of a cistern truck during GET change times.</li>
                                <li>Tested various high-pressure nozzles to select the most effective one.</li>
                            </ul>
                            <p><strong>Results:</strong></p>
                            <ul>
                                <li>Eliminated the use of hammers during GET change work, reducing the risk of metal splinter accidents to zero.</li>
                                <li>Reduced removal time from 1 hour to 15 minutes for each adapter or shroud, and from 1 hour to 20 minutes for nine points.</li>
                                <li>Simplified the GET removal and installation processes.</li>
                                <li>Increased machine availability, leading to higher productivity in areas with fine material.</li>
                                <li>Enhanced trust in the service provided.</li>
                            </ul>
                        </div>

                        <hr class="my-4">

                        <!-- Project 2 -->
                        <div class="timeline-item mb-4">
                            <h6><strong>Resolving Excessive Adapter Wear on Cable Shovel</strong></h6>
                            <p><strong>Situation:</strong> One of two cable shovels was experiencing excessive bottom wear on the WHP12 adapter, leading to decreased life-time of the Ground Engaging Tools (GET).</p>
                            <p><strong>Task:</strong> Identify the root cause of the excessive wear and propose an appropriate product solution for the cable shovel.</p>
                            <p><strong>Action:</strong></p>
                            <ul>
                                <li>Collected bucket dimensions and pitch brace measurements for each piece of equipment.</li>
                                <li>Analyzed boneyard GET components to assess wear symptoms.</li>
                                <li>Detected differences in GET wear between the two machines.</li>
                                <li>Examined the nose angle of the adapters.</li>
                                <li>Conducted a root cause analysis using an Ishikawa diagram.</li>
                            </ul>
                            <p><strong>Results:</strong></p>
                            <ul>
                                <li>Confirmed that the dimensions of the cable shovels and pitch braces were identical.</li>
                                <li>Discovered the issue was due to differences in the adapter nose angles: one adapter had a 2-degree nose angle (new design), and the other had an 8-degree nose angle (legacy version).</li>
                                <li>Replaced the adapter with one featuring a 5-degree nose angle, resulting in uniform wear between the bottom and upper parts of the shroud.</li>
                                <li>Improved wear performance demonstrated the effectiveness of the solution.</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>

            <!-- 2009 Projects -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2009">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse2009" aria-expanded="false" aria-controls="collapse2009">
                        <h5>2009 Projects</h5>
                    </button>
                </h2>
                <div id="collapse2009" class="accordion-collapse collapse" aria-labelledby="heading2009"
                    data-bs-parent="#yearProjectsAccordion">
                    <div class="accordion-body text-light text-opacity-75">

                        <!-- Project -->
                        <div class="timeline-item mb-4">
                            <h6><strong>Securing Competitive Advantage in Cable Shovel GET Supply</strong></h6>
                            <p><strong>Situation:</strong> A competitive evaluation was underway between our company and a competitor to supply Ground Engaging Tools (GET) for cable shovels. Each company provided GET for two cable shovels operating under similar conditions. The customer planned to assess performance over six months to determine the preferred supplier. During this period, one of our shovels experienced issues with the 85SV2 system, resulting in 32 breakages in one month, causing customer concern and dissatisfaction with our products.</p>
                            <p><strong>Task:</strong> Despite the challenging situation, the objective was to ensure our company was chosen as the preferred supplier over the competitor.</p>
                            <p><strong>Action:</strong></p>
                            <ul>
                                <li>Demonstrated to the customer that exceptional service is more valuable than the product alone.</li>
                                <li>Built customer trust by providing reliable and responsive service.</li>
                                <li>Analyzed the vectorial distribution of forces due to the length of the GET points, noting that breakage events were more frequent when the point was new and at maximum length.</li>
                                <li>Performed fractographic analysis of the broken point surfaces to identify the initiation points of fractures.</li>
                                <li>Addressed breakage issues by introducing a new, shorter point design to reduce leverage effects.</li>
                            </ul>
                            <p><strong>Results:</strong></p>
                            <ul>
                                <li>Our company was selected over the competitor as the preferred GET supplier.</li>
                                <li>Achieved lower cost per tonne and cost per hour compared to the competitor, resulting in savings of $300,000 per year across two shovels.</li>
                                <li>Provided faster and safer GET change times than the competitor.</li>
                                <li>Reduced downtime due to GET issues compared to the competitor.</li>
                                <li>Enhanced customer trust in our service, facilitating the introduction of new products based on solutions developed in previous projects.</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>

            <!-- 2008 Projects -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2008">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse2008" aria-expanded="false" aria-controls="collapse2008">
                        <h5>2008 Projects</h5>
                    </button>
                </h2>
                <div id="collapse2008" class="accordion-collapse collapse" aria-labelledby="heading2008"
                    data-bs-parent="#yearProjectsAccordion">
                    <div class="accordion-body text-light text-opacity-75">

                        <!-- Project 1 -->
                        <div class="timeline-item mb-4">
                            <h6><strong>Optimizing GET Refurbishment Practices</strong></h6>
                            <p><strong>Situation:</strong> The uncontrolled use of GET scrap led to decreased performance and shorter lifetimes for refurbished Ground Engaging Tools (GET). Frequent GET failures caused unplanned downtime, negatively impacting operational efficiency.</p>
                            <p><strong>Task:</strong> Conduct research to evaluate the pros and cons of the current GET refurbishment practices and implement improvements to enhance performance and reliability.</p>
                            <p><strong>Action:</strong></p>
                            <ul>
                                <li>Evaluated refurbishment designs to ensure compatibility with new GET designs.</li>
                                <li>Determined refurbishment limits for each base or plate to optimize performance.</li>
                                <li>Assessed the quality of scrap materials used in the refurbishment process.</li>
                                <li>Introduced identification marks on refurbished GET to track the number of refurbishment cycles.</li>
                                <li>Conducted a boneyard analysis of refurbished GET to gather data on wear and performance.</li>
                            </ul>
                            <p><strong>Results:</strong></p>
                            <ul>
                                <li>Defined a maximum of three refurbishment cycles per core, with approval from the customer.</li>
                                <li>Maintained an annual expenditure of $1 million, representing a significant cost-saving measure for the customer compared to purchasing new GET.</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>

            <!-- 2007 Projects -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2007">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse2007" aria-expanded="false" aria-controls="collapse2007">
                        <h5>2007 Projects</h5>
                    </button>
                </h2>
                <div id="collapse2007" class="accordion-collapse collapse" aria-labelledby="heading2007"
                    data-bs-parent="#yearProjectsAccordion">
                    <div class="accordion-body text-light text-opacity-75">

                        <!-- Project -->
                        <div class="timeline-item mb-4">
                            <h6><strong>Cost Reduction through GET Refurbishment and Recycling</strong></h6>
                            <p><strong>Situation:</strong> Global supply issues of Ground Engaging Tools (GET) led to excessive spending and a high generation of scrap due to severe abrasion. This situation resulted in increased costs and challenges in maintaining adequate GET supplies.</p>
                            <p><strong>Task:</strong> Implement a refurbishment program for GET by recycling scrap from plates and castings to save money and promote sustainability.</p>
                            <p><strong>Action:</strong></p>
                            <ul>
                                <li>Classified scrap materials into plates and castings for organized processing.</li>
                                <li>Analyzed the metallurgy of scrap materials in collaboration with a university laboratory to ensure suitability for refurbishment.</li>
                                <li>Developed welding procedures to effectively join scrap materials.</li>
                                <li>Manufactured refurbished GET, focusing on adhering to the original design specifications.</li>
                            </ul>
                            <p><strong>Results:</strong></p>
                            <ul>
                                <li>Achieved annual savings of $1 million for the customer.</li>
                                <li>The project was a finalist for the Gold Idea award.</li>
                                <li>Demonstrated similar performance between refurbished GET and new GET.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- End of Year Projects Accordion -->
        

        <!-- Footer -->
        <%- include('partials/bottom_nav.ejs') %>
    </main>
</div>
<%- include('partials/footer.ejs') %>
