<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>
<!-- Filename: get.ejs | Author: Juan Arevalo | Date: 19-10-2024 -->
<div class="d-flex justify-content-center">
    <main class="container py-5 bg-black">

        <!-- Introduction Section -->
        <div class="jumbotron bg-gradient-light text-center text-light text-opacity-75">
            <h1 class="display-7">Juan Arevalo's GET Projects</h1>
            <p class="lead">Innovations and Solutions in Ground Engaging Tools</p>
        </div>

        <!-- Periodic Implementation Message -->
        <div class="text-center text-light text-opacity-75 mb-4">
            <p>
                <em>Note:</em> I am continuously updating this page by adding at least one project per year. Please check back regularly to see the latest additions!
            </p>
        </div>

        <!-- Year Projects Accordion -->
        <div class="accordion accordion-flush" id="yearProjectsAccordion">

            <!-- 2011 Projects -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2011">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse2011" aria-expanded="false" aria-controls="collapse2011">
                        <h5>2011 Projects</h5>
                    </button>
                </h2>
                <div id="collapse2011" class="accordion-collapse collapse" aria-labelledby="heading2011"
                    data-bs-parent="#yearProjectsAccordion">
                    <div class="accordion-body text-light text-opacity-75">

                        <!-- Project 1 -->
                        <div class="timeline-item mb-4">
                            <h6><strong>Downtime Reduction in Cable Shovels</strong></h6>
                            <p><strong>Situation:</strong> 30 hours of downtime per month due to GET events in four cable shovels, negatively impacting mine productivity by 40%.</p>
                            <p><strong>Task:</strong> Collaborate on a Six Sigma project to reduce downtime by 13 hours.</p>
                            <p><strong>Action:</strong> Analyzed task response times, optimized procedures, provided training, and established satellite warehouses with critical GET parts.</p>
                            <p><strong>Results:</strong></p>
                            <ul>
                                <li>Reduced downtime from 30 hours to 5 hours per month.</li>
                                <li>Enhanced customer trust, enabling the promotion of new products.</li>
                                <li>Achieved Six Sigma certification for the service team.</li>
                            </ul>
                        </div>

                        <!-- Project 2 -->
                        <div class="timeline-item mb-4">
                            <h6><strong>Production Improvement with New GET Design</strong></h6>
                            <p><strong>Situation:</strong> Premature loss of tip penetration due to poor blasting, leading to decreased shovel productivity.</p>
                            <p><strong>Task:</strong> Analyze and implement a new GET point design to improve productivity.</p>
                            <p><strong>Action:</strong> Collected operator feedback, assessed abrasion levels, tested new point designs, and collaborated with geological and operational teams.</p>
                            <p><strong>Results:</strong></p>
                            <ul>
                                <li>Reduced truck loading time by 17 seconds per cycle.</li>
                                <li>Increased shovel productivity by 30%.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 2010 Projects -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2010">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse2010" aria-expanded="false" aria-controls="collapse2010">
                        <h5>2010 Projects</h5>
                    </button>
                </h2>
                <div id="collapse2010" class="accordion-collapse collapse" aria-labelledby="heading2010"
                    data-bs-parent="#yearProjectsAccordion">
                    <div class="accordion-body text-light text-opacity-75">

                        <!-- Project 1 -->
                        <div class="timeline-item mb-4">
                            <h6><strong>Improving Safety and Efficiency in GET Removal</strong></h6>
                            <p><strong>Situation:</strong> High risk of accidents due to metal splinters during GET removal under fine material conditions.</p>
                            <p><strong>Task:</strong> Develop a safer and more efficient method for GET removal and installation.</p>
                            <p><strong>Action:</strong> Introduced water-pressure removal systems, updated safety procedures, and coordinated resources.</p>
                            <p><strong>Results:</strong></p>
                            <ul>
                                <li>Eliminated the use of hammers, reducing accident risks.</li>
                                <li>Reduced removal time from 1 hour to 15 minutes per adapter or shroud.</li>
                                <li>Increased machine availability and productivity.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 2009 Projects -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2009">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse2009" aria-expanded="false" aria-controls="collapse2009">
                        <h5>2009 Projects</h5>
                    </button>
                </h2>
                <div id="collapse2009" class="accordion-collapse collapse" aria-labelledby="heading2009"
                    data-bs-parent="#yearProjectsAccordion">
                    <div class="accordion-body text-light text-opacity-75">

                        <!-- Project 1 -->
                        <div class="timeline-item mb-4">
                            <h6><strong>Competitive Advantage in GET Supply</strong></h6>
                            <p><strong>Situation:</strong> Faced competition from Hensley in supplying GET for cable shovels over a six-month evaluation period.</p>
                            <p><strong>Task:</strong> Ensure GET products of my former company were chosen despite initial product issues.</p>
                            <p><strong>Action:</strong> Emphasized superior service over product alone, built customer trust by solving problems promptly.</p>
                            <p><strong>Results:</strong></p>
                            <ul>
                                <li>GET's of my company was selected over Competitor.</li>
                                <li>Strengthened customer relationships, facilitating the introduction of new products.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 2008 Projects -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2008">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse2008" aria-expanded="false" aria-controls="collapse2008">
                        <h5>2008 Projects</h5>
                    </button>
                </h2>
                <div id="collapse2008" class="accordion-collapse collapse" aria-labelledby="heading2008"
                    data-bs-parent="#yearProjectsAccordion">
                    <div class="accordion-body text-light text-opacity-75">

                        <!-- Project 1 -->
                        <div class="timeline-item mb-4">
                            <h6><strong>Enhancing GET Refurbishment Practices</strong></h6>
                            <p><strong>Situation:</strong> Uncontrolled use of GET scrap led to decreased performance and increased downtime due to GET failures.</p>
                            <p><strong>Task:</strong> Research the pros and cons of current refurbishment practices and improve them.</p>
                            <p><strong>Action:</strong> Reviewed refurbishment designs, assessed the quality of scrap, added identification marks, and conducted boneyard analyses.</p>
                            <p><strong>Results:</strong></p>
                            <ul>
                                <li>Defined a maximum of three refurbishment cycles per core.</li>
                                <li>Maintained annual savings of $1 million.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 2007 Projects -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2007">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse2007" aria-expanded="false" aria-controls="collapse2007">
                        <h5>2007 Projects</h5>
                    </button>
                </h2>
                <div id="collapse2007" class="accordion-collapse collapse" aria-labelledby="heading2007"
                    data-bs-parent="#yearProjectsAccordion">
                    <div class="accordion-body text-light text-opacity-75">

                        <!-- Project 1 -->
                        <div class="timeline-item mb-4">
                            <h6><strong>Cost Reduction through GET Refurbishment</strong></h6>
                            <p><strong>Situation:</strong> Excessive spending on GET due to global supply issues and high abrasion leading to increased scrap generation.</p>
                            <p><strong>Task:</strong> Refurbish GET by recycling scrap plates and castings to save money and promote sustainability.</p>
                            <p><strong>Action:</strong> Classified scrap materials, analyzed metallurgy, created welding procedures to join scrap, and manufactured GET focusing on original designs.</p>
                            <p><strong>Results:</strong></p>
                            <ul>
                                <li>Saved the customer $1 million annually.</li>
                                <li>Project was a finalist for the Gold Idea award.</li>
                                <li>Achieved similar performance between refurbished and new GET.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- End of Year Projects Accordion -->
        

        <!-- Footer -->
        <%- include('partials/bottom_nav.ejs') %>
    </main>
</div>
<%- include('partials/footer.ejs') %>
