<%-include('partials/header.ejs')%>
<%-include('partials/main_nav.ejs')%>
<!-- Filename: link.ejs | Author: Juan Arevalo | Date: 22-08-2023 -->
<main class="container mt-5">
    <h2 class="text-center mb-4">Important Links</h2>
    <div class="d-flex flex-column align-items-center">
        <a href="#" class="mb-3">Link 1: Description</a>
        <a href="#" class="mb-3">Link 2: Description</a>
        <a href="#" class="mb-3">Link 3: Description</a>
        <a href="#" class="mb-3">Link 4: Description</a>
        <a href="#" class="mb-3">Link 5: Description</a>
    </div>
</main>


<%-include ('partials/bottom_nav.ejs')%>
<%-include ('partials/footer.ejs')%>