<%-include('partials/header.ejs')%>
    <%-include('partials/main_nav.ejs')%>

        <!-- Filename: link.ejs | Author: Juan Arevalo | Date: 14-01-2024 -->
        <div class="d-flex justify-content-center bg-light vh-100">
            <main class="container mt-5">
                <h2 class="text-center mb-4">Important Links</h2>

                <div class="container mt-5">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="linkTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="category1-tab" data-toggle="tab" href="#category1" role="tab"
                                aria-controls="category1" aria-selected="true">Learning Center</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="category2-tab" data-toggle="tab" href="#category2" role="tab"
                                aria-controls="category2" aria-selected="false">Tools</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="category3-tab" data-toggle="tab" href="#category3" role="tab"
                                aria-controls="category3" aria-selected="false">Machine Learning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="category4-tab" data-toggle="tab" href="#category4" role="tab"
                                aria-controls="category4" aria-selected="false">Big Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="category5-tab" data-toggle="tab" href="#category5" role="tab"
                                aria-controls="category5" aria-selected="false">AI tools</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="category6-tab" data-toggle="tab" href="#category6" role="tab"
                                aria-controls="category6" aria-selected="false">Github Code</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="category7-tab" data-toggle="tab" href="#category7" role="tab"
                                aria-controls="category7" aria-selected="false">NLP</a>
                        </li>
                        <!-- ... more tabs for more categories ... -->
                    </ul>

                    <!-- Learning Center -->
                    <div class="tab-content mt-3" id="linkTabContent">
                        <div class="tab-pane fade show active" id="category1" role="tabpanel"
                            aria-labelledby="category1-tab">
                            <div class="row justify-content-center">

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa fa-university card-img mt-3"
                                            style="font-size: 3.5em; color: #000000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Centennial College</h5>
                                            <a href="https://www.centennialcollege.ca/" class="btn btn-light"
                                                target="_blank" rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa fa-database card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Kaggle</h5>
                                            <a href="https://www.kaggle.com" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa fa-book card-img mt-3" style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">API Documentation</h5>
                                            <a href="https://devdocs.io" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa fa-book-bookmark card-img mt-3" style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Books-O Reilly</h5>
                                            <a href="https://learning.oreilly.com/home/" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- ... more links for this category ... -->
                        </div>

                        <!-- ... Tools ... -->
                        <div class="tab-pane fade" id="category2" role="tabpanel" aria-labelledby="category2-tab">
                            <div class="row justify-content-center">

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa fa-code card-img mt-3" style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Visualize Code</h5>
                                            <a href="https://pythontutor.com/visualize.html#mode=edit"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa fa-file-alt card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Readme.so</h5>
                                            <a href="https://readme.so/editor" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa fa-project-diagram card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">PlantUML</h5>
                                            <a href="https://www.plantuml.com/plantuml/uml/SyfFKj2rKt3CoKnELR1Io4ZDoSa70000"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa fa-font-awesome card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Icon Awesome</h5>
                                            <a href="https://fontawesome.com/icons"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-brands fa-bootstrap card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Bootstrap</h5>
                                            <a href="https://getbootstrap.com/"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-infinity card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Google colab</h5>
                                            <a href="https://colab.research.google.com/"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- ... more links for this category ... -->
                            </div>
                        </div>
                        <!-- ... Machine Learning ... -->
                        <div class="tab-pane fade" id="category3" role="tabpanel" aria-labelledby="category3-tab">
                            <div class="row justify-content-center">

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fas fa-table card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Pandas</h5>
                                            <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-n card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">NumPy</h5>
                                            <a href="https://numpy.org/doc/stable/index.html"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fas fa-robot card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Scikit-learn</h5>
                                            <a href="https://scikit-learn.org/stable/" class="btn btn-light"
                                                target="_blank" rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fas fa-chart-line card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Seaborn</h5>
                                            <a href="https://seaborn.pydata.org" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fas fa-laptop-code card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Deep Learning</h5>
                                            <a href="https://www.deeplearningbook.org" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fas fa-folder-open card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Deep Learning Tutorial</h5>
                                            <a href="http://deeplearning.stanford.edu/tutorial/" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fas fa-snowflake card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Neural Network</h5>
                                            <a href="http://neuralnetworksanddeeplearning.com" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-brands fa-kickstarter card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Keras</h5>
                                            <a href="https://keras.io/api/metrics/"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-t card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">TensorFlow</h5>
                                            <a href="https://www.tensorflow.org/"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-brands fa-cotton-bureau card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Gymnasium Documentation</h5>
                                            <a href="https://gymnasium.farama.org"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-ranking-star card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Listwise Ranking</h5>
                                            <a href="https://www.tensorflow.org/recommenders/examples/listwise_ranking"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- ... more links for this category ... -->
                            </div>
                        </div>
                        <!-- ... Big Data ... -->
                        <div class="tab-pane fade" id="category4" role="tabpanel" aria-labelledby="category4-tab">
                            <div class="row justify-content-center">

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-brands fa-microsoft card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Microsoft Azure</h5>
                                            <a href="https://azure.microsoft.com/en-ca/" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-store card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Hadoop</h5>
                                            <a href="https://hadoop.apache.org" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-database card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Spark</h5>
                                            <a href="https://spark.apache.org" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-magnifying-glass-chart card-img mt-3"
                                            style="font-size: 3.5em; color: black ;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Analyze Spark</h5>
                                            <a href="https://learn.microsoft.com/en-us/azure/synapse-analytics/get-started-analyze-spark" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-chart-simple card-img mt-3"
                                            style="font-size: 3.5em; color: black  ;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Analyze data explorer</h5>
                                            <a href="https://learn.microsoft.com/en-us/azure/synapse-analytics/get-started-analyze-data-explorer" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-laptop-code card-img mt-3"
                                            style="font-size: 3.5em; color: black ;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Tutorial KQL</h5>
                                            <a href="https://learn.microsoft.com/en-us/azure/data-explorer/kusto/query/tutorials/learn-common-operators?context=%2Fazure%2Fsynapse-analytics%2Fcontext%2Fcontext&pivots=azuredataexplorer" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-warehouse card-img mt-3"
                                            style="font-size: 3.5em; color: black ;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">VMWare</h5>
                                            <a href="https://itacademy.brightspace.com/d2l/home" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-regular fa-star card-img mt-3"
                                            style="font-size: 3.5em; color: black ;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Pyspark Overview</h5>
                                            <a href="https://spark.apache.org/docs/latest/api/python/index.html" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-database card-img mt-3"
                                            style="font-size: 3.5em; color: black ;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Databricks cloud</h5>
                                            <a href="https://community.cloud.databricks.com" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- ... AI Tools ... -->
                        <div class="tab-pane fade" id="category5" role="tabpanel" aria-labelledby="category5-tab">
                            <div class="row justify-content-center">

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-circle-dot card-img mt-3"
                                            style="font-size: 3.5em; color: black ;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">GPTZero</h5>
                                            <a href="https://gptzero.me" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-atom card-img mt-3"
                                            style="font-size: 3.5em; color: black ;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">ChatGPT</h5>
                                            <a href="https://chat.openai.com" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>  
                                
                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-robot card-img mt-3"
                                            style="font-size: 3.5em; color: black  ;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Quillbot</h5>
                                            <a href="https://quillbot.com/grammar-check" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-regular fa-face-smile-wink card-img mt-3"
                                            style="font-size: 3.5em; color: black ;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Monica</h5>
                                            <a href="https://monica.im" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-atom card-img mt-3"
                                            style="font-size: 3.5em; color: black ;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">OpenAI</h5>
                                            <a href="https://platform.openai.com/overview" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- ... Github Code ... -->
                        <div class="tab-pane fade" id="category6" role="tabpanel" aria-labelledby="category6-tab">
                            <div class="row justify-content-center">

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-brands fa-github card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Ageron Git hub</h5>
                                            <a href="https://github.com/ageron/handson-ml3" class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-brands fa-github card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Gym / openai</h5>
                                            <a href="https://github.com/openai/gym/tree/master/gym"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-brands fa-github card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">NLP by Vajjala</h5>
                                            <a href="https://github.com/practical-nlp/practical-nlp-code"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-brands fa-github card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">LDL by Magnus</h5>
                                            <a href="https://github.com/NVDLI/LDL/tree/main"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- ... more links for this category ... -->
                            </div>
                        </div>
                        <!-- ... Natural Language Processig ... -->
                        <div class="tab-pane fade" id="category7" role="tabpanel" aria-labelledby="category7-tab">
                            <div class="row justify-content-center">

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-house card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">nlpaug</h5>
                                            <a href="https://nlpaug.readthedocs.io/en/latest/index.html"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-chart-simple card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Beautifulsoap</h5>
                                            <a href="https://pypi.org/project/beautifulsoup4/"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="card text-center">
                                        <i class="fa-solid fa-circle-dot card-img mt-3"
                                            style="font-size: 3.5em; color: #000;"></i>
                                        <div class="card-body">
                                            <h5 class="card-title">Gensim</h5>
                                            <a href="https://radimrehurek.com/gensim/"
                                                class="btn btn-light" target="_blank"
                                                rel="noopener noreferrer">Visit</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- ... more links for this category ... -->
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </main>
        </div>
        <%-include ('partials/bottom_nav.ejs')%>
        <%-include ('partials/footer.ejs')%>