<%-include('partials/header.ejs')%>
<%-include('partials/main_nav.ejs')%>

<!-- Filename: projects.ejs | Author: Juan Arevalo | Date: 28-08-2023 -->
<div class="d-flex justify-content-center bg-light vh-100">
    <main class="container py-5">
        <div class="jumbotron bg-gradient-light text-center">
            <h1 class="display-7">My Projects</h1>
        </div>

        <div class="row mt-5">
            <!-- Kiruwear App -->
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <img src="../assets/images/kiru.png" alt="Kiruwear App" class="card-img-top">
                    <div class="card-body">
                        <h5>Kiruwear App (Mobile App)</h5>
                        <p>Remote wear control GET to prevent unplanned downtime for P&H4100XPC cable shovels. Awarded the 2021 Digital Transformation at Cerro Verde Mine.</p>
                        <p><strong>Role:</strong> Manager and Creator</p>
                        <p><strong>Languages:</strong> Flutter, PHP Codeigniter</p>
                    </div>
                    <!-- Award Recognition -->
                    <div class="card-footer bg-light text-center">
                        <img src="../assets/images/tech_award.jpg" alt="Kiruwear App Award" class="award-img" style="width: 20%; transition: transform 0.3s;">
                        <span class="ml-3">For this innovation, I was honored with a prestigious Global Technology Award from the company I collaborated with.</span>
                    </div>
                </div>
            </div>

            <!-- Recipes Web App -->
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <img src="../assets/images/reci.png" alt="Recipes Web App" class="card-img-top">
                    <div class="card-body">
                        <h5>Recipes (Web App)</h5>
                        <p>An interactive platform for sharing recipes. First version in progress.</p>
                        <p><strong>Role:</strong> Developer</p>
                        <p><strong>Languages:</strong> Python, Flask, MySQL</p>
                    </div>
                </div>
            </div>

            <!-- Personal Portfolio -->
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <img src="../assets/images/perso.png"" alt="Personal Portfolio Web App" class="card-img-top">
                    <div class="card-body">
                        <h5>Personal Portfolio (Web App)</h5>
                        <p>Minimalistic personal portfolio. Second version in progress.</p>
                        <p><strong>Role:</strong> Developer</p>
                        <p><strong>Languages:</strong> JavaScript, NodeJS, ExpressJS, Express Generator</p>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>

<%-include ('partials/bottom_nav.ejs')%>
<%-include ('partials/footer.ejs')%>
