<%- include('partials/header.ejs')%>
<%- include('partials/main_nav.ejs')%>
<!-- Filename: projects.ejs | Author: Juan Arevalo | Date: 30-11-2024 -->

<div class="d-flex justify-content-center">
    <main class="container py-5 bg-black text-light">
        <!-- Introduction Section -->
        <div class="text-center mb-5">
            <h1 class="display-5">Juan Arevalo's Tech Projects</h1>
            <p class="lead text-light text-opacity-75">Explore my technical projects and achievements, ranging from AI innovations to practical solutions for industry challenges.</p>
        </div>

        <!-- Accordion Section -->
        <div class="accordion" id="projectsAccordion">
            <!-- Postgraduate AI Projects 2024 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingPostgraduate">
                    <button class="accordion-button bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#postgraduateProjects" aria-expanded="true" aria-controls="postgraduateProjects">
                        Postgraduate AI Projects 2024
                    </button>
                </h2>
                <div id="postgraduateProjects" class="accordion-collapse collapse show" aria-labelledby="headingPostgraduate" data-bs-parent="#projectsAccordion">
                    <div class="accordion-body">
                        <p>I completed my AI program at Centennial College, focusing on advanced AI applications. Below are some of the key projects:</p>
                        <div class="row g-4">
                            <!-- Kotlin Dimensions Project -->
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm h-100">
                                    <img src="../assets/images/Kotlin_logo.png" style="width: 218px;" alt="Logo Kotlin project"
                                        class="card-img-top img-fluid mx-auto">
                                    <div class="card-body">
                                        <h6><strong>Kotlin video Project</strong></h6>
                                        <p>This project is a significant step in my journey as an AI enthusiast focused on image management. I am exploring various approaches to achieve optimal results, 
                                            including training models and utilizing generative AI with or without cloud services. 
                                            The goal is to identify the most efficient and effective methods for implementation
                                            .</p>
                                        
                                        <p><strong>Role:</strong> AI Developer</p>
                                        <p><strong>Skills:</strong> Kotlin, Android Studio </p>
                                        <p><strong>Status:</strong> 1 Phase - Research (Stand by)</p>
                                        <div class="progress mt-3" style="height: 20px;">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- RAG Chatbot -->
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm h-100">
                                    <img src="../assets/images/RAG_logo.png" style="width: 191px;" alt="Logo RAG project"
                                        class="card-img-top img-fluid mx-auto">
                                    <div class="card-body">
                                        <h6><Strong>Retrievel Augmented Generation Project</strong> </h6>
                                        <p>Focusing on the development of a RAG chatbot using
                                             cutting-edge models based on recent research papers. The goal is to explore novel approaches to enhance chatbot 
                                             performance through advanced retrieval-augmented techniques.</p>                                            
                                        <p><strong>Role:</strong> AI Developer Collaborator</p>
                                        <p><strong>Skills:</strong> Python, PyCharm, OpenAI, NLP, LLM </p>
                                        <p><strong>Status:</strong> Test - 1st Demo version (working on team)</p>
                                        <div class="progress mt-4" style="height: 20px;">
                                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Mathpractice 2 version-->
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm h-100">
                                    <img src="../assets/images/mathpractice1.png" alt="Mathpractice screenshot"
                                        class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h6><strong>Mathpractice (2nd version) </strong></h6>
                                        <p> Building on the first version, I am enhancing the app with AI to provide personalized feedback based 
                                            on the child’s performance, aiming to improve their understanding of mathematical concepts.
                                        </p>
                                        <p><strong>Role:</strong> Developer</p>
                                        <p><strong>Skills:</strong> Python, PyQt5, PythonGUIS, LLM.
                                        </p>
                                        <p><strong>Status:</strong> Plan development (Stand by)
                                        </p>
                                        <div class="progress mt-2" style="height: 20px;">
                                            <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">5%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Mathpractice -->
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm h-100">
                                    <img src="../assets/images/mathpractice.png" alt="Mathpractice screenshot"
                                        class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h6><strong>Mathpractice (1st version) </strong></h6>
                                        <p>A personalized math app I developed for my daughter to improve skills in addition, subtraction, and multiplication of positive and negative integers.
                                                The app uses a rule-based system that adapts to the user's weaknesses.</p>
                                        
                                        <p><strong>Role:</strong> Developer</p>
                                        <p><strong>Skills:</strong> Python, PyQt5, PythonGUIS.
                                        </p>
                                        <p><strong>Status:</strong> Completed
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Waste Bin Classifiation -->
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm h-100">
                                    <img src="../assets/images/waste_bin.png" alt="tumor prediction"
                                        class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h6><strong>Waste Bin Classification</strong></h6>
                                        <p>This project, developed during my AI program, utilizes deep learning to classify 
                                            waste bins as 'full' or 'empty'. It involved capturing images from various angles and times, 
                                            preprocessing, model training with CNNs, and using WandB for experiment tracking, achieving 
                                            a validation accuracy of 62.5%.</p>
                                        
                                        <p><strong>Role:</strong> AI Developer</p>
                                        <p><strong>Skills:</strong> Python, TensorFlow, CNN, Keras, PIL,
                                                Wandb </p>
                                        <p><strong>Status:</strong> Completed - <a 
                                            href="https://github.com/Jbaruz/waste_bin_classificcation"
                                            target="_blank">Github</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Projects at College -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingCollegeProjects">
                    <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collegeProjects" aria-expanded="false" aria-controls="collegeProjects">
                        Projects at College
                    </button>
                </h2>
                <div id="collegeProjects" class="accordion-collapse collapse" aria-labelledby="headingCollegeProjects" data-bs-parent="#projectsAccordion">
                    <div class="accordion-body">
                        <p>These projects showcase my hands-on learning experience at Centennial College.</p>
                        <div class="row g-4">
                            <!-- Brain tumor detection Project -->
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm h-100">
                                    <img src="../assets/images/deeplearn.png" alt="tumor prediction"
                                        class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h6><strong>Brain Tumor Classification and Generation Image</strong></h6>
                                        <p>The project explores supervised, unsupervised and state-of-the-art 
                                            deep learning techniques applied to image classification and image
                                                generation tasks.</p>
                                        <p><strong>Role:</strong> Backend Developer</p>
                                        <p><strong>Skills:</strong> Python, Deep Learning, CNN, GAN's, Supervised Learning,
                                                Unsupervised Learning, RESNET50, </p>
                                        <p><strong>Status:</strong> Complete: A+ <a
                                            href="https://github.com/ryaoltech/COMP263_deeplearning_G5_tumorbrain"
                                            target="_blank">Github</a></p>
                                    </div>
                                </div>
                            </div>
                            <!-- Cloud Machine Learning Project -->
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm h-100">
                                    <img src="../assets/images/recruiter.png" alt="recuiter screenshot"
                                        class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h6><strong>Cloud Machine Learning Project - AI recruiter</strong></h6>
                                        <p>"AI Recruiter" is a serverless app using AWS to streamline candidate 
                                            evaluation with video analysis and match percentage reports</p>
                                        <p><strong>Skills:</strong> Python, JavaScript, HTML, CSS, AWS Boto3
                                            , AWS Chalice, RESTful API, Linux.</p>
                                            <p><strong>AI services:</strong> AWS Transcribe, AWS Comprehend, AWS Textract.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Chatbot Project -->
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm h-100">
                                    <img src="../assets/images/chatbot.png" alt="Fatal Traffic Collisions"
                                        class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h6><strong>Deep learning Chatbot project</strong></h6>
                                        <p>As part of the Software Development Project II Course, 
                                            group three developed the backend and frontend of a chatbot
                                            using deep learning for Centennial College</p>
                                        <p><strong>Role:</strong> Backend Developer</p>
                                        <p><strong>Skills:</strong> Python, JavaScript, HTML, CSS, NLP, Word2Vec, Flask.</p>
                                        <p><strong>Status:</strong> Complete: A+ <a
                                            href="https://github.com/Jbaruz/Deep_Learning_Chatbot"
                                            target="_blank">Github</a></p>
                                    </div>
                                </div>
                            </div>
                            <!-- SL Project -->
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm h-100">
                                    <img src="../assets/images/fatalities_TO.png" alt="Fatal Traffic Collisions"
                                        class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h6><strong>Supervised learning project</strong></h6>
                                        <p>Develop a probalistic application to predict accidents in Toronto,
                                            according to condition and behavior patterns.</p>
                                        <p><strong>Role:</strong> AI Developer</p>
                                        <p><strong>Languages:</strong> Python</p>
                                        <p><strong>Status:</strong> In progress - first step</p>

                                    </div>
                                </div>
                            </div>
                            <!-- Tournament Project -->
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm h-100">
                                    <img src="../assets/images/tournament_web.png" alt="Fatal Traffic Collisions"
                                        class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h6><strong>Tournament Creation by Time Travellers Team</strong></h6>
                                        <p>The Application is about tournament management, part of a group
                                            assignment at Centennial College.</p>
                                        <p><strong>Role:</strong> Backend Developer</p>
                                        <p><strong>Languages:</strong> Angular, ExpressJS, NodeJS, MongoDB,
                                            Angular
                                            Material, Git</p>
                                        <p><strong>Status:</strong> Complete </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Personal Portfolio -->
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm h-100">
                                    <img src="../assets/images/perso.png" alt="Personal Portfolio Web App"
                                        class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h6><strong>Personal Portfolio (Web App)</strong></h6>
                                        <p>This project is my personal endeavor into frontend development, focusing on creating a website that showcases information,
                                                photos, and other content. It serves as a platform for experimenting with new web technologies and design techniques.</p>
                                        <p><strong>Role:</strong> Developer</p>
                                        <p><strong>Languages:</strong> JavaScript, NodeJS, ExpressJS, Express
                                            Generator, Bootstrap, Jquery, CSS.</p>
                                        <p><strong>Status:</strong> In progress continuosly - <a
                                                href="https://github.com/Jbaruz/jbaruz" target="_blank">Github
                                                repo</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pivoting to Technology -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingPivotTechnology">
                    <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pivotTechnology" aria-expanded="false" aria-controls="pivotTechnology">
                        Pivoting to Technology
                    </button>
                </h2>
                <div id="pivotTechnology" class="accordion-collapse collapse" aria-labelledby="headingPivotTechnology" data-bs-parent="#projectsAccordion">
                    <div class="accordion-body">
                        <p>During the pandemic, I designed a mobile app for remote monitoring of heavy equipment components, reducing interactions and increasing efficiency. This innovation won a Technology Award in 2021.</p>
                        <div class="row g-4">
                            <!-- Kiruwear App -->
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm h-100">
                                    <div class="card-body">
                                        <h6><strong>Remote Wear Monitoring App (Mobile App)</strong></h6>
                                        <p>A remote app for monitoring GET wear, aimed at preventing unplanned downtime and reducing 
                                            operator-mechanic interactions to minimize COVID-19 transmission.

                                        </p>
                                        <p><strong>Role:</strong> Creator, Manager, and System Analyst</p>
                                        <p><strong>Languages:</strong> Flutter, PHP Codeigniter</p>
                                        <p><strong>Status:</strong> Complete </p>
                                        <p><strong>Objectives</strong></p>
                                        <p>. Reduce social distancing during equipment inspections.</p>
                                        <p>. Help customers be more efficient in monitoring equipment wear.</p>
                                        <p>. Learn about equipment wear through an online platform.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Award -->
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm h-100">
                                    <img src="../assets/images/tech_award.jpg" alt="Technology Award"
                                        class="card-img-top img-fluid">
                                    <div class="card-body">

                                    </div>
                                </div>
                            </div>

                            <!-- Company Objectives -->
                            <div class="col-md-4 mb-4">
                                <div class="card shadow-sm h-100">
                                    <img src="../assets/images/recognition.png" alt="Recognition"
                                        class="card-img-top img-fluid">
                                    <div class="card-body">
                                        
                                        <h6><strong>2020 Technology Award</strong></h6>
                                        <p>This innovation won a prestigious Technology Award and also earned a Digital Transformation Award in
                                         a major mining operation.
                                        </p>
                                    </div>
                                </div>
                            </div>
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%-include ('partials/bottom_nav.ejs')%>
    </main>
</div>
<%- include('partials/footer.ejs')%>
