/* Filename: app.css | Author: Juan Arevalo | Date: 28-08-2023 */
.navbar.fixed-bottom {
  height: 40px;
}

.navbar-brand img{

  width: 40px;
  height: 40px;
}

.award-img:hover {
  transform: scale(5.6);
}


