/* Filename: starwars.css */
body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.star-wars-container {
    height: 300px;
    overflow: hidden;
    perspective: 380px;
    position: relative;
}

.crawl {
    transform-origin: 50% 100%;
    transform: rotateX(25deg) translateY(30%) translateZ(0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 200%;
    font-weight: bold;
    text-align: justify;
    animation: crawl 60s linear infinite;
}

@keyframes crawl {
    0% {
        transform: rotateX(25deg) translateY(30%) translateZ(0);
    }
    100% {
        transform: rotateX(25deg) translateY(-180%) translateZ(0);
    }
}
